body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(5, 5, 5);
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    width: 40vw;
    margin: auto;
}

.title {
    color: rgb(255, 102, 0);
    letter-spacing: 0.1em;
}

.form {
    width: 100%;
}

.form form {
    width: inherit;
    height: 5vh;
    display: flex;
}

.form input[type=text] {
    width: 65%;
    background-color: inherit;
    border: 1px solid rgb(255, 102, 0);
    padding: 0;
    color: white;
    font-size: inherit;
}

.form input[type=submit] {
    padding: 0;
    border: none;
    background: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    flex-grow: 1;
    font-size: 100%;
    font-family: inherit;
    border: 1px solid rgb(255, 102, 0);
    background-color: rgb(255, 102, 0);
    padding: 0;
    color: white;
    letter-spacing: 0.1em;
}

.table {
    width: 100%;
}

table {
    color: black;
    width: 100%;
    min-height: 10vh;
}

th,
td {
    text-align: center;
}

td {
    padding: 4px;
    color: rgba(255, 102, 0, 0.761);
    padding: 0.45em;
}

td:hover {
    transition: 0.3s;
    color: #ffffff;
}

tr {
    border: 2px solid black;
    background-color: rgba(31, 16, 0, 0.664);
}

tr:hover {
    background-color: rgba(31, 16, 0, 0.76);
    transition: 0.3s;
}

th {
    color: white;
    padding: 0.5em;
}

tr.headers th:nth-child(1) {
    width: 65%;
}

tr.headers th:nth-child(2) {
    width: 20%;
}

tr.headers th:nth-child(3) {
    width: 15%;
}

a {
    color: rgb(255, 180, 42);
    text-decoration: inherit;
}